.foo{
    background-color: black;
    color: blanchedalmond;
    
    
    
}
.fooinfo{
    display: flex;
    column-gap: 70px;
    margin-left: 30px;
}
.image i{
    font-size: 60px;
    margin-top: 80px;
    padding-right: 20px;
}

